.theme-items {display: flex;
justify-content:space-between;
align-items: center;
text-align: center;
margin-bottom: 0;}

.theme-card {border: 1px solid #eee;
padding-left: 20px;
padding-right: 20px;
max-width: 360px;
max-height: fit-content;
position: relative;

i {font-size: 35px;
   color: #00bba7;
   position: absolute;
   background-color: #fff;
   padding: 0 10px;
   top: -18px;
   left: 42%;
}
}
   

.info-wrap {
    h1{font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
      color: #444;
      margin-top: 40px;
    }
    :nth-child(2){text-align: left;
                 font-size: 16px;
                 font-family: "Roboto", sans-serif;
                font-weight: 300;
                line-height: 1.7;
                color: #777;
               margin-bottom: 10px;}
    :nth-child(3){margin-bottom: 20px;
                 margin-top: 10px;}
        a {text-decoration: none;
          font-size: 18px;
          color:#337ab7;
          }
        a:hover {color:#07121b;}
}
   
   
