:root {--animate-duration:1.5s;
    --animate-delay: 0.2s;}
.item-content {transform: translateY(-50px);

}
.flex-content {display: flex;
align-items: flex-end;
justify-content: center;
font-family: 'Roboto', sans-serif;
text-align: center;


line-height: 1.6;

color: #777;
height: 326px;
p{font-weight: 500;
line-height: 1.7;}

h3 {font-size: 20px;
  display: block;
  font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-weight: 700;
color: #444;
line-height: 38px;
margin-bottom: 10px;
margin-top: 20px;

}
.icon {font-size: 20px;
background-color: #00bba7;
height: 60px;
width: 60px;
line-height: 60px;
border-radius: 50%;
display: inline-block;
color: #fff;
position: relative;
top: 0;
}}

.item {padding-left: 15px;
padding-right: 15px;
font-size: 18px;
line-height: 1.5;
width: 100%;
position: relative;

}

.container-content {padding: 0 15px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    bottom: 0;
    background-color: #fff;
    .ul-title {text-align: center;
            padding-top: 40px;
            
        .stars {height: 24px;
            width: 50%;
            margin-top: 22px;
            
           vertical-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 2px 0;
            .wow {display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                i{margin: 2px;
                    font-size: 16px;
                line-height: 20px;
                height: 20px;
                width: 20px;
                
                text-align: center;
                color: #e4e4e4;}
             i::before{content: "\f005";}
            }
            .wow::after {display: inline-block;
                content: "";
                height: 1px;
                width: 50%;
                margin-left: 15px;
                vertical-align: top;
                position: relative;
                background-color: #e4e4e4;}
            .wow::before{display: inline-block;
                content: "";
                height: 1px;
                width: 50%;
                margin-right: 15px;
                
                
                background-color: #e4e4e4;}
                
        }}}
        h1{font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
   letter-spacing: 1px;
   color: #444;}
    
    
  

  //latest items
